@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact & About";
}


<div class="container">
    <div class="row">
        <figure>
            <img src="~/images/contact/contactus.jpg" class="img-fluid" alt="contactus">
            <figurecaption style="visibility:visible">
                <h1 id="ind">Contact & About Info</h1>
                <h2 id="intro">WDP 2021</h2>
            </figurecaption>
        </figure>
    </div>
    <div id="box-container" class="container">
        <div class="box-container-items">
            <h3>Contact Us</h3>
            <p>Unit Name: WDP 2021</p>
            <p>Student Name: WENQIANG SHU</p>
            <p>Student ID: u126869</p>
            <a class="btn btn-info" href="https://aws.amazon.com/ai/" role="button">Learn More</a>
        </div>
        <div class="box-container-items">
            <h3>Copyright</h3>
            <p>&copy; 2021 - WDP Assignment </p>
            <p>Industry 4.0 Website</p>
            <p>Author: WENQIANG SHU</p>
            <a class="btn btn-info" href="https://ai.google/" role="button">Learn More</a>
        </div>
        <div class="box-container-items">
            <h3>Website Info</h3>
            <p>This website contains 4 public pages including home page, companies and organisations, emerging technologies, and contact and about. </p>
            <p>It also contains 5 private pages (Create, Details, Delete, Edit and Index) for registered users and admin users to create, post, edit and delete feedback. Users who are not logged in cannot see and access to these pages.</p>
            <a class="btn btn-info" href="https://www.ibm.com/about" role="button">Learn More</a>
        </div>
    </div>
</div>



