body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:0px;
}

.no-gap {
    padding-left: 0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
}

#bg1 {
    background-image: url(../images/Homepage/background1.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg2 {
    background-image: url(../images/Homepage/background2.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 750px;
    background-size: cover;
}
#ind {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    text-align:center;
    padding-top:43vh;
    color: white;
    text-shadow: 4px 4px 0px navy, 4px 4px 6px white;
}

#intro {
    font-size: 16px;
    text-align:center;
    color: white;
    padding-top:15px;
    padding-bottom:22vh;
    padding-left:30%;
    padding-right:30%;
    margin-bottom:0px;
}

/*#s1 {
    font-family: 'Anton', sans-serif;
    font-size: 75px;
    text-align:center;
    padding-top:9vh;
    color: white;
}
#s2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align:center;
    padding-left:15%;
    padding-right:15%;
    color: white;
}*/

.fbcontainer {
    padding-left: 10px;
    padding-right:10px;
}

#fbheading {
    font-size: 60px;
    text-align: center;
    color: blue;
    text-shadow: 4px 4px 0px navy, 4px 4px 6px white;
}
img {
    width: 100%;
    height: 100%;
}
figure {
    position:relative; 
}




hr {
    border: 1px solid #f1c232;
}

.compfig {
    /*padding-top: 18vh;*/
    font-size: 70px;
    color: white;
    vertical-align: middle;
}

figure:hover > figurecaption {
    visibility: visible;
}

/*#contact {
    font-size: 70px;
    padding-top: 50px;
    text-align: center;
    color: #40717C;
    text-shadow: 4px 4px 0px navy, 4px 4px 6px white;
}

#sub {
    font-size: 50px;
    text-align: center;
    color: #40717C;
    text-shadow: 4px 4px 0px navy, 4px 4px 6px white;
}*/

/*-------------------------------Style for footer container item-----------------------------*/
.ft-main-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ft-item {
    margin-top:0px;
    padding-top:0px;
    padding-bottom:0px;
}

.list-items {
    list-style: none;
    margin-bottom: 0px;
}
/* -------------------------------Style all font awesome icons -------------------------------*/
.fa {
    padding: 20px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    /* -------------------------------Add a hover effect if you want --------------------------*/
.fa:hover {
    opacity: 0.7;
}

/* -------------------------------Set a specific color for each brand -------------------------*/

/* Facebook */
.fa-facebook {
    color: #3B5998;
}

/* Twitter */
.fa-twitter {
    color: #55ACEE;
}

/* google */
.fa-google {
    color: #dd4b39;
}

/* linkedin */
.fa-linkedin {
    color: #007bb5;
}
/* youtube */
.fa-youtube {
    color: #bb0000;
}
/*--------------------------------contact and about page styling--------------------------------*/

#box-container {
    display: flex;
    flex-wrap: wrap;
}

#box-container-items {
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;
}
#box-container div {
    border: 1px #ccc solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 30px auto;
    padding: 35px 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 250px;
    height: auto;
}






/* -------------------------------Media queries ----------------------------------*/
@media (min-width: 1200px) {
    figurecaption {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        box-shadow: 1px 1px navy;
        font-family: Arial, sans-serif;
        font-size: 0.8em;
        text-align: center;
        color: white;
        padding-top: 11vh;
        padding-left: 7vw;
        padding-right: 7vw;
        visibility: hidden;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    figurecaption {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        
        font-family: Arial, sans-serif;
        font-size: 0.6em;
        text-align: center;
        color: white;
        padding-top: 0;
        padding-bottom:0;
        padding-left: 7vw;
        padding-right: 7vw;
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    figurecaption {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        
        font-family: Arial, sans-serif;
        font-size: 0.6em;
        text-align: center;
        color: white;
        padding-top: 0;
        padding-bottom:0px;
        padding-left: 7vw;
        padding-right: 7vw;
        visibility: hidden;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    figurecaption {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
       
        font-family: Arial, sans-serif;
        font-size: 0.6em;
        text-align: center;
        color: white;
        padding-top: 3vh;
        padding-left: 7vw;
        padding-right: 7vw;
        visibility: hidden;
    }

@media (max-width: 576px) {
    figurecaption {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        
        font-family: Arial, sans-serif;
        font-size: 0.8em;
        text-align: center;
        color: white;
        padding-top: 20%;
        padding-left: 7vw;
        padding-right: 7vw;
        visibility: hidden;
    }
}
